/*
 * https://gitlab.com/jane314/deadname-b-gon
 */

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3vh;
	line-height:1.6;
	color:black;
 }


h1 {
	font-size: 40px;
}


html { 
	background-color: rgb(250, 250, 250);
	border-collapse: separate;
	width:500;
	margin-left: 5%;
	margin-right: 5%;
}


.blue {
	background-color: PaleTurquoise;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.pink {
		background-color: LightPink;
}

.lemon {
	background-color: LemonChiffon;
}

.beige {
	background-color: beige;
}

.domain, .monospace {
	font-family: monospace;
}

.title {
	font-size: 25px;
	margin-left: 5%;
}

.subtitle {
	font-size: 21px;
}

p {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
