/*
 * https://gitlab.com/jane314/deadname-b-gon
 */

html { 
	border-collapse: separate;
	border-spacing: 100px;
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: rgb(250, 250, 250);
}

table {
	border-collapse: collapse; 
	table-layout: fixed;
}

a {
	color: black;
}

table, td, tr {
	border: 1px solid black;
	text-align: center;
}

td {
	padding-left: 2%;
	padding-right: 2%;
}

.col1 {
	width: 200px;
	word-break: break-all;
}

.col1monospace {
	width: 200px;
	word-break: break-all;
	font-family: monospace;
}

.col2 {
	width: 120px;
	word-break: break-all;
}

.col1row1 {
	width: 200px;
	word-break: break-word;
}

.col2row1 {
	width: 120px;
	word-break: break-word;
}

h1 {
	font-size: 40px;
}

input {
	background-color: white;
	border: 1px solid black;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}

select {
	font-weight: bold;
}

p {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.textinput {
	width: 95%;
}

.textinputdomain {
	width: 95%;
	font-family: monospace;
}
	

.pink {
	background-color: LightPink;
}

.blue {
	background-color: PaleTurquoise;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.lemon {
	background-color: LemonChiffon;
}

.beige {
	background-color: beige;
}

.lightgray {
	background-color: LightGray;
	margin-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.domain, .monospace {
	font-family: monospace;
}

.title {
		font-size: 25px;
		margin-top: 3%;
		margin-left: 3%;
		margin-bottom: 3%;
		font-weight: bold;
}

.subtitle {
	font-size: 21px;
}

.exception {
	background-color: white;
	font-weight: bold;
	border: 1px solid black;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.biggroup {
	font-size: 3vh;
}

#pause {
	margin-left: 4px;
}